<template>
  <v-card>
    <v-card-title>
      <span class="headline">{{titleForm}}</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-text-field ref="title" v-model="post.title" label="Title*" :rules="titleRules"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-textarea ref="body" v-model="post.body" label="Content*" :rules="bodyRules"></v-textarea>
          </v-col>
        </v-row>
      </v-container>
      <small>*indicates required field</small>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
      <v-btn color="blue darken-1" text @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "create-post",
  components: {},

  data() {
    return {
      formHasErrors: false
    };
  },
  computed: {
    ...mapState({
      post: state => state.posts.edit,
      editForm: state => state.posts.editForm
    }),

    titleRules() {
      return [
        v => !!v || "Title is required.",
        v =>
          (!!v && v.length <= 100) || "Title must be less than 100 characters",
        v =>
          (!!v && /^[\w\s]+$/.test(v)) ||
          "Title must not include specific characters"
      ];
    },
    bodyRules() {
      return [v => !!v || "Content is required."];
    },
    form() {
      return {
        title: this.post.title,
        body: this.post.body
      };
    },
    titleForm() {
      return this.editForm == -1 ? "ADD NEW POST" : "UPDATE POST";
    }
  },

  methods: {
    ...mapMutations({
      triggerDialog: (commit) => commit("posts/triggerDialog"),
      setFormEdit: (commit, data) => commit('posts/setFormEdit',data)
    }),
    save() {
      this.checkForm();
      if (this.formHasErrors) return;
      let newPost = this.post;
      if (this.editForm == -1) {
        this.$store.dispatch("posts/addNewPost", newPost).then(() => {
          this.closeDialog();
        });
      } else {
        this.$store.dispatch("posts/updatePost", this.post).then(() => {
          this.closeDialog();
        });
      }
    },
    checkForm() {
      this.formHasErrors = false;
      Object.keys(this.form).forEach(f => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
    },
    closeDialog() {
      this.$store.dispatch("posts/getAllPosts").then(() => {
        // this.$store.commit("posts/setFormEdit", -1)
        // this.$store.commit("posts/triggerDialog")
        this.triggerDialog()
        this.setFormEdit(-1)
        this.edit = {
          id: null,
          title: null,
          body: null
        };
        this.formHasErrors = false;
        Object.keys(this.form).forEach(f => {
          this.$refs[f].reset();
        });
        
      });
    }
  }
};
</script>

<style>
</style>