<template>
  <v-container>
    <v-row>
      <v-col cols="3">
        <v-card>
          <v-navigation-drawer permanent fixed left>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="title">Application</v-list-item-title>
                <v-list-item-subtitle>CRUD POST</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list dense nav>
              <v-list-item v-for="item in items" :key="item.title" link :to="{name: item.router}">
                <v-list-item-icon>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-navigation-drawer>
        </v-card>
      </v-col>
      <v-col cols="9">
        <router-view></router-view>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: "Dashboard", icon: "mdi-view-dashboard", router: "dashboard" },
        { title: "Posts", icon: "mdi-image", router: "listPost" },
        { title: "About", icon: "mdi-help-box", router: "dashboard" }
      ]
    };
  }
};
</script>

<style>
</style>