<template>
  <div>
    <!-- <v-simple-table dark>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Title</th>
            <th class="text-left">Body</th>
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="post in posts" :key="post.id" :class="{highlight : postIDCache == post.id}">
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>
              <v-col cols="12">
                <v-btn-toggle color="red">
                  <v-btn
                    class="pink white--text"
                    @click="confirmDelete(post.id)"
                    value="Delete"
                  >Delete</v-btn>
                  <v-btn
                    class="green white--text"
                    @click="editForm(post)"
                    value="Update"
                  >Update</v-btn>
                </v-btn-toggle>
              </v-col>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>-->
    <v-row>
        <v-col v-for="post in posts" :key="post.id" cols="4">
          <v-hover v-slot:default="{ hover }" open-delay="200">
            <v-card :elevation="hover ? 12 : 2" :to="{name : 'postDetail', params: {id: post.id}}">
              <div class="d-flex flex-no-wrap justify-space-between">
                <div>
                  <v-card-title class="headline" v-text="post.title"></v-card-title>
                  <v-card-subtitle v-text="post.body"></v-card-subtitle>
                </div>
              </div>
            </v-card>
          </v-hover>
        </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  name: "list-post",
  data() {
    return {
      isHighLight: false
    };
  },
  computed: mapState({
    posts: state => state.posts.postAll,
    postIDCache: state => state.posts.postIDCache
  }),
  created() {
    this.$store.dispatch("posts/getAllPosts");
  },
  methods: {
    async confirmDelete(postID) {
      let confirm = await Swal.fire({
        title: "DELETE",
        text: "Do you want to continue",
        icon: "warning",
        showCancelButton: true
      });
      if (confirm.value) {
        this.$store.dispatch("posts/deletePost", postID).then(() => {
          if (this.$store.state.posts.deletePost == true) {
            this.$store.dispatch("posts/getAllPosts");
          }
        });
      }
    },
    editForm(post) {
      this.$store.state.posts.edit = Object.assign({}, post);
      this.$store.commit("posts/triggerDialog");
      this.$store.commit("posts/setFormEdit", 1);
    }
  }
};
</script>

<style scoped>
.highlight {
  background: rgb(124, 115, 115);
}
</style>
