<template>
  <div class="text-left">
    <v-row justify="center">
      <v-btn color="primary" @click.stop="openDialog">ADD NEW</v-btn>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
          <create-post></create-post>
        </v-card>
      </v-dialog>
    </v-row>
    
    <!-- <list-post></list-post> -->
    <router-view></router-view>
  </div>
</template>

<script>
// import ListPost from "./ListPost";
import CreatePost from "./CreatePost";
import {mapState} from "vuex";

export default {
  components: {
    // ListPost,
    CreatePost
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      dialog: state => state.posts.dialog
    })
  },
  methods: {
    openDialog() {
      this.$store.commit("posts/triggerDialog");
    }
  }
};
</script>

<style>
</style>