<template>
  <v-col class="text-center" cols="12" sm="4">
    <div class="my-2">
      <v-btn text small @click="$router.back()">Go back</v-btn>
    </div>
  </v-col>
</template>

<script>
import axios from "axios";
import errorsHelper from "../helper/Error";
export default {
  async created() {
    let id = this.$route.params.id;
    try {
      let data = await axios.get(`http://localhost:3000/posts/${id}`);
      console.log(data.data);
    } catch (error) {
      errorsHelper.redirect(error);
    }
  },
  methods:{
  }
};
</script>

<style>
</style>