<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>
     
<script>
export default {
  name: "App",

  components: {},
 
  created() {
    window.addEventListener('error',() => {
      console.log("fgfgfdgkg5555555");
    });
  }
};
</script>

